<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/main.js" type="text/javascript"></script>
    <title>my canvas game</title>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <div class="buttons">
      <button id="left">&lt;</button>
      <button id="restart">restart</button>
      <button id="right">&gt;</button>
    </div>
  </body>
</html>
