* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  width: 98vw;
  height: 98vh;
  background-color: #000;
}

button {
  padding: 0.75rem;
  opacity: 0.7;
  border-radius: 50%;
  outline: none;
  border: none;
}

.buttons {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
}

#restart {
  display: none;
}
